<article class="privacy-policy">
  <div class="privacy-policy__back-button-container">
    <a class="privacy-policy__back-button" (click)="goBack()">
      <span class="material-symbols-rounded">arrow_back</span>
      <span class="privacy-policy__back-text">{{
        "BACK_TO_HOME" | translate
      }}</span>
    </a>
  </div>
  <img
    *ngIf="customImage"
    [src]="customImage"
    class="privacy-policy__img privacy-policy__cover--custom-image"
    [class.privacy-policy__img--custom-image-disabled]="activeIndex !== 0"
    alt="Custom image for material theming"
  />
  <responsive-image
    [imageName]="heroImage + '-min'"
    class="privacy-policy__img privacy-policy__img--first-image"
    [class.privacy-policy__img--first-image-disabled]="
      isSecondHeroImageActive || activeIndex === 0
    "
    [imageAlt]="'First hero banner ' + heroImage + ' image'"
    [imageHeight]="576"
    [imageWidth]="1024"
    [isLazyLoaded]="false"
  ></responsive-image>
  <responsive-image
    *ngIf="secondHeroImage && activeIndex !== 0"
    [imageName]="secondHeroImage + '-min'"
    class="privacy-policy__img privacy-policy__img--second-image"
    [class.privacy-policy__img--second-image-disabled]="
      !isSecondHeroImageActive || activeIndex === 0
    "
    [imageAlt]="'Second hero banner ' + heroImage + ' image'"
    [imageHeight]="576"
    [imageWidth]="1024"
    [isLazyLoaded]="false"
  ></responsive-image>
  <section class="privacy-policy__container">
    <div class="privacy-policy__text-container">
      <h1 class="privacy-policy__header">
        {{ "PRIVACY_POLICY.TITLE" | translate }}
      </h1>
      <p class="privacy-policy__last-updated">
        {{ "PRIVACY_POLICY.LAST_UPDATED" | translate }}: 2024-11-03
      </p>

      <!-- Information Collection -->
      <section class="privacy-policy__section">
        <h2>{{ "PRIVACY_POLICY.SECTIONS.INFO_COLLECT.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.SECTIONS.INFO_COLLECT.CONTENT" | translate }}</p>
        <ul>
          <li
            *ngFor="
              let item of 'PRIVACY_POLICY.SECTIONS.INFO_COLLECT.ITEMS'
                | translate
            "
          >
            {{ item }}
          </li>
        </ul>
      </section>

      <!-- Why We Collect -->
      <section class="privacy-policy__section">
        <h2>{{ "PRIVACY_POLICY.SECTIONS.WHY_COLLECT.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.SECTIONS.WHY_COLLECT.CONTENT" | translate }}</p>
        <ul>
          <li
            *ngFor="
              let item of 'PRIVACY_POLICY.SECTIONS.WHY_COLLECT.ITEMS'
                | translate
            "
          >
            {{ item }}
          </li>
        </ul>
      </section>

      <!-- Sharing of Information -->
      <section class="privacy-policy__section">
        <h2>{{ "PRIVACY_POLICY.SECTIONS.SHARING.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.SECTIONS.SHARING.CONTENT" | translate }}</p>
      </section>

      <!-- Storage and Security -->
      <section class="privacy-policy__section">
        <h2>{{ "PRIVACY_POLICY.SECTIONS.STORAGE.TITLE" | translate }}</h2>
        <ul>
          <li
            *ngFor="
              let item of 'PRIVACY_POLICY.SECTIONS.STORAGE.ITEMS' | translate
            "
          >
            {{ item }}
          </li>
        </ul>
      </section>

      <!-- User Rights -->
      <section class="privacy-policy__section">
        <h2>{{ "PRIVACY_POLICY.SECTIONS.USER_RIGHTS.TITLE" | translate }}</h2>
        <ul>
          <li
            *ngFor="
              let item of 'PRIVACY_POLICY.SECTIONS.USER_RIGHTS.ITEMS'
                | translate
            "
          >
            {{ item }}
          </li>
        </ul>
      </section>

      <!-- Age Restrictions -->
      <section class="privacy-policy__section">
        <h2>{{ "PRIVACY_POLICY.SECTIONS.AGE.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.SECTIONS.AGE.CONTENT" | translate }}</p>
      </section>

      <!-- Cookies -->
      <section class="privacy-policy__section">
        <h2>{{ "PRIVACY_POLICY.SECTIONS.COOKIES.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.SECTIONS.COOKIES.CONTENT" | translate }}</p>
      </section>

      <!-- Contact Information -->
      <section class="privacy-policy__section">
        <h2>{{ "PRIVACY_POLICY.SECTIONS.CONTACT.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.SECTIONS.CONTACT.CONTENT" | translate }}</p>
      </section>
    </div>
  </section>

  <svg
    class="privacy-policy__waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="privacy-policy__wave-parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" />
      <use xlink:href="#gentle-wave" x="48" y="3" />
      <use xlink:href="#gentle-wave" x="48" y="5" />
      <use xlink:href="#gentle-wave" x="48" y="7" />
    </g>
  </svg>
</article>
