<button
  (click)="toggleLanguage()"
  class="translate"
  [class.translate--active]="currentLanguage === 'es'"
>
  <div class="translate__content">
    <div class="translate__flags">
      <div
        class="translate__flag"
        [class.translate__flag--active]="currentLanguage === 'en'"
      >
        <span class="translate__language">English</span>
        <span class="translate__mobile-indicator">EN</span>
      </div>
      <div
        class="translate__flag"
        [class.translate__flag--active]="currentLanguage === 'es'"
      >
        <span class="translate__language">Español</span>
        <span class="translate__mobile-indicator">ES</span>
      </div>
    </div>
  </div>
</button>
