<button
  (click)="toggleLanguage()"
  class="translate"
  [class.translate--active]="currentLanguage === 'es'"
>
  <div class="translate__content">
    <div class="translate__flags">
      <div
        class="translate__flag"
        [class.translate__flag--active]="currentLanguage === 'en'"
      >
        <!-- <span class="material-symbols-rounded"></span> -->
        <span class="translate__language">English</span>
      </div>
      <div
        class="translate__flag"
        [class.translate__flag--active]="currentLanguage === 'es'"
      >
        <!-- <span class="material-symbols-rounded"></span> -->
        <span class="translate__language">Español</span>
      </div>
    </div>
  </div>
</button>
