@import "material-you";

.controls {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 2rem;

  &__group {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 1rem;

    &__group {
      gap: 0.5rem;
    }
  }
}

.profile-intro {
  display: flex;
  gap: 2rem;
  padding: 0rem 2rem;

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}

.profile-body {
  margin: 2rem;

  &--themed {
    margin: 2rem 0rem;
    @include material-container--primary;
    padding: 0rem;
    border-radius: $container-border-radius;
  }

  &--themed-secondary {
    @include material-container--secondary;
  }
}

.at-a-glance {
  margin: 0rem 2rem;
}

.skill-section {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: $full-container-padding;

  &__container {
    display: flex;
    overflow: hidden;
    padding: $full-container-padding;
    overflow: visible;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    & > * {
      flex: 1;
    }
  }
}
